<form action="/addCar" method="POST">
  <fieldset>
    <legend>Add new car:</legend>

    <label for="name">Model:</label>
    <input type="text" name="model"><br>

    <label for="name">Vehicle Number:</label>
    <input type="text" name="vnum"><br>
    
    <label for="name">Seats:</label>
    <input type="text" name="seats"><br>


    <label for="name">Price (/km):</label>
    <input type="text" name="price"><br>

    <label for="name">Year:</label>
    <input type="text" name="year"><br>

    <input type="submit" value="Add Car">
  </fieldset>
</form>